---
 const personalImageAlt = "Tomás Laus picture"
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#CBFF00] [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Greetings! I'm Tomas Laus, a dedicated Full Stack Developer from Argentina. I started programming at the age of 12, where my passion for technology developed. My experience covers the whole spectrum of web development, with a strong emphasis on frontend and backend technologies. Among my experiences stands out my work as Front End Developer at Sunshine Ready Technologies,<strong
        >contributing to the design and implementation of scalable applications</strong
      >.
    </p>

    <p>
      My toolset includes proficiency in   <strong
        >JavaScript with React, React Native, Node.JS, Express. Python with Flask and Django. Databases such as PostgreSQL, MongoDB.</strong
      > Currently pursuing a technical programming degree. I have honed my technical and soft skills through experience, many courses and bootcamp.
    </p>

    <p>
      Eager to contribute my problem solving skills and commitment to continuous improvement,  <strong
        >I am ready to take on new exciting projects and contribute significantly to organizations</strong
      >. Let's connect and explore the countless possibilities in the world of Software Development!
    </p>
  </div>

  <img src="/tom.jpg" class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt}/>

</article>

